<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left aline-item-center center">
                        <figure >
                            <img class="img-fluid" src="img/404.jpg" alt="">
                        </figure>
                    
                    
                        <p>Opps ! Page not found  ------</p>
                        <h1>{{error}}</h1>
                        <a href="/"><button>GO BACK</button></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- footer code  -->
    {{>footer}}
</body>
</html>