<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img class=" w-100" src="img/image 1.jpg" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to weather app</p>
                            <h1>I am A<span class="text_clr">  Full Stack</span> Devloper</h1>
                            <a href="/weather"><button>About me</button></a>
                    </div>
                    <!-- right side div  -->
                </div>
            </div>
        </div>
    </div>
    <!-- footer code  -->
    {{>footer}}
</body>
</html>
